<div class="texth">
    <h>HighTopics</h>
    <h2>
        The best ice breaker
    </h2>
</div>

<div class="buttons">
    <%= link "Random Topic", to: topic_path(@conn, :show, Hightopics.Themes.random), class: "randombutton"%>
    
</div>

<div class="buttons">
    <%= link "Submit a Theme", to: theme_path(@conn, :new), class: "randombutton"%>
    <%= link "Submit a Topic", to: topic_path(@conn, :new), class: "randombutton"%>
</div>