<h2 class="titleGroup"><%=@topic.name%></h2>

<div style="color:white; font-size:20px; padding: 20px;">
    <%= @topic.description %>
</div>

<div style="color:white; font-size:20px; padding: 20px;">
    <strong>Rating:</strong>
    <%= @topic.rating %>
</div>