/* This file is for your main application css. */

body{
   
    margin:0 !important;
    padding:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
    
    font-family: 'Ubuntu', sans-serif !important;
    background-color:#7188ED!important;
    letter-spacing: 5px;
    width:100%!important;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav ul{
    text-align:center !important;
    position:fixed; 
    width:100% !important;
}

li{
    margin-left:5px;
    margin-right:5px;
    display:inline !important;
    text-align:center;
}

nav select {
    display: none;
}

@media (max-width: 960px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}
  

.lbuttons-ht1{
    
    padding-left:50px;
    padding-right:50px;
    margin:auto;
    padding-top:15px;
    padding-bottom:15px;
    display:inline-block!important; 
    float:left;
    font-size: 25px;
    font-weight: 800;
    color:#1D2F3A!important;

    text-decoration:none;
}

.lbuttons-ht1:hover, .lbuttons-ht1:link, .lbuttons-ht1:active{
    color:#1D2F3A;
    text-decoration:none;
    border-bottom-width:5px!important;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.lbuttons-ht1:hover{
    color:#7188ED!important;
}

.lbuttons-ht{
    padding:20px;
    margin:auto;
    padding-top:15px;
    padding-bottom:15px;
    float:right;
    display:inline-block!important; 
    font-size: 25px;
    font-weight: 500;
    color:#1D2F3A!important;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;

    text-decoration:none;
}

.lbuttons-ht:hover, .lbuttons-ht:link, .lbuttons-ht:active{
    color:#1D2F3A;
    text-decoration:none;
    border-bottom-width:5px!important;
}

.lbuttons-ht:hover{
    color:#7188ED!important;
}


.navbar-ht{
    list-style-type:none;
    margin: 0px !important;
    padding: 5px !important;
    margin-bottom: 20px!important;
    background-color:#FAFAFA!important;
    z-index:20;
}

.navfake{
    height:75px;
    margin:0px;
    padding:0px;
}

.model{
    width:100%;
    padding:50px;
    float:top !important;
    letter-spacing:0px!important;
    text-align:center;
}

.randombutton{
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        outline: none;
        background-color: #1D3E59;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #051726;
        margin: 30px;
}

.randombutton, .randombutton:link, .randombutton:hover, .randombutton:active{
    text-decoration: none!important;
    color: #FAFAFA!important;
}

.randombuttontext, .randombuttontext:link , .randombuttontext:hover, .randombuttontext:active{
    text-decoration: none!important;
    color: #FAFAFA!important;
}

.randombutton:hover {
    background-color: #1D3E59;
    box-shadow: 0 5px #051726;
    transform: translateY(4px);
    
}

.texth{
    margin-top:100px!important;
    margin-bottom:100px!important;
    width:auto;
    text-align: centered;
    color:#FAFAFA;
    font-size:60px!important;
    font-weight: 700;
}

.header2{
    padding:auto;
    width:auto;
    text-align: centered;
    color:#FAFAFA;
    font-size:40px;
    font-weight: 700;
}

.titleGroup{
    font-size: 40px;
    color:#1D3E59; 
    font-weight: 700;
    padding: 25px;
    margin:auto;
    width:auto;
    border: 5px solid #1D3E59;
    border-radius:25px;
    background:#FAFAFA;
}

.tableAttributes{
    font-size: 25px!important;
    color:#1D3E59!important;
}

.tableElements{
    font-size: 15px;
    color:#FAFAFA;
    text-align:left;
}

.description{
    font-size: 20px !important; 
    color:#1D3E59; 
    margin-top:40px!important;
    margin-bottom:40px!important;
    margin:80px;
    width:auto;
    padding: 10px;
    border: 5px solid #1D3E59;
    border-radius:25px;
    background:#FAFAFA;
}
.comments{
    margin:20px;
    color:#1D3E59; 
    width:auto;
    padding: 10px;
    border: 5px solid #1D3E59;
    background:#FAFAFA;
    font-size: 15px;
    display: inline-block;
    text-align:center;
}