/* This file is for your main application css. */

body{
   
    margin:0 !important;
    padding:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
    
    font-family: 'Ubuntu', sans-serif !important;
    background-color:#7188ED!important;
    letter-spacing: 5px;
    width:100%!important;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav ul{
    text-align:center !important;
    position:fixed; 
    width:100% !important;

}

li{
    margin-left:5px;
    margin-right:5px;
    display:inline !important;
    text-align:center;
}

nav select {
    display: none;
}

@media (max-width: 960px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}
  

.lbuttons-ht1{
    
    padding-left:50px;
    margin:auto;
    padding-top:15px;
    padding-bottom:15px;
    display:inline-block!important; 
    float:left;
    font-size: 25px;
    font-weight: 800;
    color:#1D2F3A!important;

    text-decoration:none;
}

.lbuttons-ht1:hover, .lbuttons-ht1:link, .lbuttons-ht1:active{
    color:#1D2F3A;
    text-decoration:none;
    border-bottom-width:5px!important;
}

.lbuttons-ht{
    padding:20px;
    margin:auto;
    padding-top:15px;
    padding-bottom:15px;
    float:right;
    display:inline-block!important; 
    font-size: 25px;
    font-weight: 500;
    color:#1D2F3A!important;

    text-decoration:none;
}

.lbuttons-ht:hover, .lbuttons-ht:link, .lbuttons-ht:active{
    color:#1D2F3A;
    text-decoration:none;
    border-bottom-width:5px!important;
}


.navbar-ht{
    list-style-type:none;
    margin: 0px !important;
    padding: 5px !important;
    margin-bottom: 20px!important;
    background-color:#FAFAFA!important;
    z-index:20;
}

.navfake{
    height:75px;
    margin:0px;
    padding:0px;
}

.model{
    width:100%;
    padding:50px;
    float:top !important;
}

.randombutton{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    margin:0!important;
    float:left;
    margin:auto;
}

.maintext{
    padding:auto;
    width:60%;
    float:left;
    text-align: centered;
}