<h2 class="titleGroup">Themes</h2>

<div style="float:left;">
  <%= for theme <- @themes do %>
    <%= link theme.name ,to: theme_path(@conn, :show, theme), class: "randombutton"%>
  <% end %>
</div>



