<h2 class="titleGroup"><%=@theme.name%></h2>

<ul style=" padding:0px!important; box-sizing:content-box!important;">

  <li style="font-size: 20px !important; color: white;">
    <%= @theme.description %>
  </li>

</ul>

<div>
  <%= link "Random Topic (Chosen Theme)", to: topic_path(@conn, :show, Hightopics.Themes.random_topic(@theme)), class: "randombutton"%>
</div>
