<h2 class="titleGroup"><%=@theme.name%></h2>

<div class="description">
  <div style="font-size:25px;">Description:</div>
  <div style="font-size:20px;"><%= @theme.description %></div>
</div>


<div>
  <%= link "Random Topic (Chosen Theme)", to: topic_path(@conn, :show, Hightopics.Themes.random_topic(@theme)), class: "randombutton"%>
</div>


