<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Hightopics!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Barlow:500,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  </head>

  <body>
    
    <nav>
    <ul class="navbar-ht">
      <li><a href="/" class="lbuttons-ht1">High Topics</a></li>
      <li><a href="/login" class="lbuttons-ht">Login</a></li>
      <li><a href="/statistics" class="lbuttons-ht">Statistics</a></li>
      <li><a href="/topics" class="lbuttons-ht">Topics</a></li>
      <li><a href="/themes" class="lbuttons-ht">Themes</a></li>     
    </ul>

    <select class="navbar-ht"> 
      <option value="" selected="selected">Select</option> 

      <option value="/" class="lbuttons-ht1">High Topics</option>
      <option value="/themes" class="lbuttons-ht">Themes</option>
      <li><a href="/topics" class="lbuttons-ht">Topics</a></li>
      <li><a href="/statistics" class="lbuttons-ht">Statistics</a></li>
      <option value="/login" class="lbuttons-ht">Login</option>
    </select>
    </nav>
    
    <div class="navfake"></div>

    <div class="model">

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
